/* Write your CSS here */

.each-language-item {
  list-style-type: none;
  margin: 10px;
}
.language-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
}

.tab-active {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 5px;
}
